[submodule "v0-iiot-gateway-website"]
	path = v0-iiot-gateway-website
	url = https://github.com/MRAzaly20/v0-iiot-gateway-website.git
[submodule "v1-iiot-gateway-website"]
	path = v1-iiot-gateway-website
	url = https://github.com/MRAzaly20/v1-iiot-gateway-website.git
